.main{
    max-width: 880px;
    background: url("../images/background.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    border: 1px solid gray;
    margin: 0 auto;
    box-shadow: 2px 2px 5px;
    opacity: 0.7;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.canvas{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.sectionWord{
    height: 30px;
    padding: 20px;
}
.viselitsa{
    position: relative;
    width: 100%;
}

.beam{
    border: 1px solid black;
    box-shadow: 2px 2px 3px;
    background-color: gray;
}

.viselitsa__up{
    width: 100%;
    height: 10px;
}

.viselitsa__left{
    margin-top: -1px;
    width: 10px;
    height: 400px;
}
.viselitsa__down{
    width: 10px;
    height: 100px;
    position: absolute;
    z-index: -1;
}

.viselitsa__down_left{
    bottom: -13px;
    left: -35px;
    transform: rotate(45deg);
}

.viselitsa__down_right{
    bottom: -13px;
    left: 35px;
    transform: rotate(-45deg);
}

.viselitsa__loop{
    position: absolute;
    top: 0px;
    right: 14%;
    height: 82px;
    width: 2px;
    background-color: black;
    z-index: -1;
    visibility: hidden;
}

.viselitsa__people-hand-leg{
    position: absolute;
    height: 40px;
}


.viselitsa__people{
    width: 40px;
    height: 200px;
    /*border: 1px solid red;*/
    position: absolute;
    top: 20%;
    right: calc(15% / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.human-outline{
    border: 2px solid black;
    background-color: blue;
    width: 2px;
}
.viselitsa__people-head{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    /*height: 30%;*/
    /*padding: 30%;*/
    border-radius: 50%;
    visibility: hidden;
}
.viselitsa__people-body{
    position: absolute;
    top: 40px;
    height: 50px;
    z-index: -1;
    visibility: hidden;
}

.viselitsa__people-hand_lert{
    left: 8%;
    top: 20%;
    transform: rotate(35deg);
    visibility: hidden;
}
.viselitsa__people-hand_right{
    right: 8%;
    top: 20%;
    transform: rotate(-35deg);
    visibility: hidden;
}

.viselitsa__people-leg_left{
    left: 8%;
    top: 43%;
    transform: rotate(35deg);
    visibility: hidden;
}
.viselitsa__people-leg_right{
    right: 8%;
    top: 43%;
    transform: rotate(-35deg);
    visibility: hidden;
}

.viselitsa__people_active{
    visibility: visible;
}

.keyboard{
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.key{
    margin-right: 4px;
    margin-bottom: 2px;
}
.word{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.key-block{
    width: 20px;
    margin-right: 5px ;
    border-bottom: 1px solid black;
    text-align: center;
}
.key-word{
visibility: hidden;
}

.key-word_visible{
    visibility: visible;
}

.disabled{
    color: red;
}